
h1 { 
text-align: center;
font-size: 50px;
color:#5c4646 ;

}

h2, h3, h4 {
	color:#5c4646;
	font-size: 35px;
	padding-right: 200px;
	padding-left: 200px;
	font-family:Monaco;
}
p {
	text-align: justify;
	padding-right: 200px;
	padding-left: 200px;
	font-size:15pt;
	font-family:"Trebuchet MS";
	color:#404040;
}

img {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.topnav /* top navigation bar */ {
  overflow: hidden;
  background-color: RosyBrown   ;
  border: 10px solid MistyRose ;
  padding: 5px;
  position: -webkit-sticky; 
  position: sticky; /* keeps it so that even when you scroll down the site, the navigation bar stays on your screen */
  top: 0;
  margin: 0;
  text-align:center;
 
}

.topnav a {
  float: left;
  color: #f2f2f2;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
   border-right: 1px solid MistyRose;
}

.topnav a:hover {
  background-color:rgb(255,198,198); /* change the background, text, and border bottom color so when you hover on a part of the bar, it stands out */
  color: black;
  border-bottom: 3px solid PeachPuff ;  
}
.topnav a.active { /* active meaning the tab you're on is active. The active tab will change colours so you know which one your on */
	border-bottom: 3px solid PeachPuff; 
	color: black;
	border-bottom: 3px solid PeachPuff ;
	background-color: #FFE4E1; /* colour is different again so that you know which tab of the navigation bar you're on */
}

ol{
	padding-right: 200px;
	padding-left: 200px;
	font-size:15pt;
}


ul{

display : table; 
margin : auto;
font-family:"Trebuchet MS";
}

.Refrence-head {
	text-align: center;
}

 .sub-heading {
	 font-size:25px;
 }
 
 body {
	 background-color: 	#FFF0F5;
 }

